body {
    background-color: #eee;
}

.card {
    background-color: #fff;
    width: 300px;
    border: none;
    border-radius: 16px;

}

.outer {
    z-index: 9999;
}

.info {
    line-height: 19px;
}

.name {
    color: #4c40e0;
    font-size: 18px;
    font-weight: 600;
}

.order {
    font-size: 14px;
    font-weight: 400;
    color: #b7b5b5;
}

.detail {

    line-height: 19px;
}

.summery {
    color: #000000;
    font-weight: 400;
    font-size: 13px;
}


.text {

    line-height: 15px;
}

.new {

    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.money {
    font-size: 14px;
    font-weight: 500;
}

.address {

    color: #000000;
    font-weight: 500;
    font-size: 14px;
}

.last {

    font-size: 10px;
    font-weight: 500;

}


.address-line {
    color: #4C40E0;
    font-size: 11px;
    font-weight: 700;
}
